.balance-container{
    background-color: #F7F7F7;
    display: grid;
    justify-content: center;
    justify-items: center;
    width: 100%;
    padding: 10px;
}

.balance{
    background-color: #e21010;
    border-radius: 19px;
    color: #ffffff;
    font-family: Roboto;
    display: grid;
    justify-items: center;
    width: 200%;
}

.balance div{
    font-size: 60px;
    font-weight: 700;
}

.retiros-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-items: center;
    font-family: Roboto;
}

#btnRetiros{
    color: #D4052A;
    border: 0;
    padding: 10px 30px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
    width: 100%;
}

#btnRetiros:hover{
    transition: 1s;
    background-color: #D4052A;
    color: #ffffff;
}

#btnIngresos{
    color: #0FB001;
    border: 0;
    padding: 10px 30px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
    width: 100%;
}

.retiros{
    width: 100%;
}

.ingresos{
    width: 100%;
}

#btnIngresos:hover{
    transition: 1s;
    background-color: #0FB001;
    color: #ffffff;
}

.ventana-emergente {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: auto;
    background-color: #ffffffb3;
    justify-content: center;
    align-items: center;
    transition: 1s;
    justify-content: center;
    justify-items: center;
    align-items: center;
    box-shadow: 10px 10px 10px 0 #0c0c0c42;
    display: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.contenido {
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    display: grid;
    gap: 10px;
}

.contenido input{
    border: 1px solid #c2c2c2;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
}

#cerrarVentana {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #333;
    color: #ffffff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

#cancelarVentana {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #333;
    color: #ffffff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.transaction-container{
    display: grid;
    justify-items: center;
    gap: 10px;
    margin: 5px;
}

#mostrarVentana{
    border: 0;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    width: 15%;
    padding: 10px;
    cursor: pointer;
    transition: 1s;
    border-radius: 10px;
}

#mostrarVentana:hover{
    background-color: #0477d5;
    color: #ffffff;
    transition: 1s;
}

.withdrawal-history{
    /* display: none; */
}

.withdrawal{
    display: grid;
    grid-template-columns: 1fr 20fr;
    align-items: center;
    justify-items: center;
    font-family: Roboto;
    border-radius: 10px;
    margin: 10px 0;
}

.income-div h4{
    justify-self: center;
}

.income{
    display: grid;
    grid-template-columns: 1fr 20fr;
    align-items: center;
    justify-items: center;
    font-family: Roboto;
    gap: 10px;
    margin: 10px 0;
}

.income-div{
    display: grid;
    grid-template-columns: 15fr 5fr;
    width: 100%;
    border: 2px solid #dbdbdb;
    border-radius: 10px;
}

.withdrawal-div{
    display: grid;
    grid-template-columns: 15fr 5fr;
    width: 100%;
    border: 2px solid #dbdbdb;
    border-radius: 10px;
}

.withdrawal-div h4{
    justify-self: center;
}

.withdrawal{
    display: grid;
    grid-template-columns: 1fr 20fr;
    align-items: center;
    justify-items: center;
    font-family: Roboto;
    gap: 10px;
    margin: 10px 0;
}

label{
    background-color: #cd2904;
    padding: 10px;
    color: #ffffff;
    border-radius: 5px;
}

input[type="radio"]{
    background-color: #cd2904;
    padding: 15px;
}

#txtIngreso{
    margin-top: 10px;
}